

    <table id="basics">
        <thead>
            <tr>
                <th><h3>Entreprise</h3></th>
                <th><h3>Activité</h3></th>
                <th><h3>Taille</h3></th>
                <th><h3>Site Web</h3></th>
                <th><h3>Couriel</h3></th>
            </tr>
        </thead>
        <tbody>
        {% for prospect in prospects %}
            <tr>
                <td>{{ prospect.company }}</td>
                <td>{{ prospect.activity }}</td>
                <td>{{ prospect.size }}</td>
                <td><a href="{{ prospect.website }}">{{ prospect.site_name }}</a></td>
                <td>{{ prospect.email }}</td>
                {% if prospect.answered is False %}
                <td><a href="{% url 'candidature' prospect.id %}">Préparer candidature</a></td>
                {% endif %}
            </tr>
        {% endfor %}
        </tbody>
    </table>
