{% extends 'base.html' %}
{% block content %}
<article class="flux">
    <h2>Candidature en cours:</h2>
    <div class="header">
        <p><a href="{% url 'application-update' application.id %}">Editer candidature</a></p>
        <p><a href="{% url 'meeting-create' application.id %}">Enregistrer RdV</a></p>
        <p><a href="{% url 'exchange-create' application.id %}">Contacter</a></p>
        <a href="{% url 'insider-create' application.prospect.id %}">Ajouter contact</a>
    </div>
    <div class="detail">
        {% include 'jobtable/partials/appointment_list.html' with object_list=appointment_list %}
    </div>
    <div class="detail">
        {% include 'jobtable/partials/prospect.html' with prospect=application.prospect %}
        {% include 'jobtable/partials/application.html' with application=application %}
        {% include 'jobtable/partials/contact_list.html' with object_list=contact_list %}
    </div>
    <div class="detail">
        {% include 'jobtable/partials/mail_list.html' with object_list=mail_list %}
    </div>
</article>
{% endblock content %}